<!DOCTYPE html>
<html>
<head>

<title>Login</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body class="auth-body">

<div class="auth-box">

<h2>Login</h2>

{% if error %}
<div class="error">{{error}}</div>
{% endif %}

<form method="POST">

<input name="username" placeholder="Username">

<input name="password" type="password" placeholder="Password">

<button type="submit">Login</button>

</form>

<p>Don't have account?</p>

<a href="/register">Register</a>

</div>

</body>
</html>