<h1 style="text-align:center;">Today's Workout</h1>

<div id="list"></div>

<script>

fetch("/today-workout")
.then(res=>res.json())
.then(data=>{

const list=document.getElementById("list")

data.today_workout.forEach(w=>{

const card=document.createElement("div")

card.style.border="1px solid #ddd"
card.style.padding="15px"
card.style.margin="10px"
card.style.borderRadius="8px"

card.innerHTML=
`<b>${w.exercise}</b><br>
${w.sets} sets • ${w.reps}<br>
<button onclick="done(${w.id})">Complete</button>`

list.appendChild(card)

})

})

function done(id){

fetch("/complete-workout/"+id,{method:"POST"})
.then(()=>location.reload())

}

</script>